body{
    background-color: brown;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 20;
} 
.box{
    background-color: yellow;
    padding: 20px;
    border: 5px solid red;
    border-radius: 8px;
}
p{
    color: blue;
    font-size: 1.5em;
}